.welcome {
  color: #006bb6;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  height: 46px;
}
.way {
  font-weight: 200;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  width: 561px;
  height: 62px;
  margin: 0 auto;
}
